{% extends "website/base.html" %}


{% block content %}


  <!-- Breadcubs Area Start Here -->
  <div class="breadcrumbs-area">
    <h3 style="font-weight: bold"> Administration | Modules</h3>
    <ul>
        <li>
            <a href="index.html">Liste des modules disponibles</a>
        </li>
        
    </ul>
</div>


  <!-- Dashboard summery Start Here -->
  <div class="row gutters-20">
    
    
    <!-- FINANCES -->
    <div class="col-xl-3 col-sm-6 col-12">
        <a href="">
            <div class="dashboard-summery-one mg-b-20">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="item-icon bg-dark">
                            <i class="flaticon-menu-1 text-white"></i>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="item-content">
                            <div class="item-title" style="font-size:1.4em; font-weight:bold">FINANCES</div>
                            <button class="mt-2 btn btn-primary btn-lg">Accéder</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!-- ATTESTATION -->
    <div class="col-xl-3 col-sm-6 col-12">
        <a href="">
            <div class="dashboard-summery-one mg-b-20">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="item-icon bg-dark">
                            <i class="flaticon-menu-1 text-white"></i>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="item-content">
                            <div class="item-title" style="font-size:1.4em; font-weight:bold">ATTESTATION</div>
                            <button class="mt-2 btn btn-primary btn-lg">Accéder</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!-- INSCRIPTIONS -->
    <div class="col-xl-3 col-sm-6 col-12">
        <a href="">
            <div class="dashboard-summery-one mg-b-20">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="item-icon bg-dark">
                            <i class="flaticon-menu-1 text-white"></i>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="item-content">
                            <div class="item-title" style="font-size:1.4em; font-weight:bold">INSCRIPTIONS</div>
                            <button class="mt-2 btn btn-primary btn-lg">Accéder</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!-- GESTION RESULTATS -->
    <div class="col-xl-3 col-sm-6 col-12">
        <a href="">
            <div class="dashboard-summery-one mg-b-20">
                <div class="row align-items-center">
                    <div class="col-2">
                        <div class="item-icon bg-dark">
                            <i class="flaticon-menu-1 text-white"></i>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="item-content">
                            <div class="item-title" style="font-size:1.4em; font-weight:bold">GESTION RÉSULTATS</div>
                            <div class="item-number"><span class="counter" data-num="0">0</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!-- GESTION DES NOTES -->
    <div class="col-xl-3 col-sm-6 col-12">
        <a href="">
            <div class="dashboard-summery-one mg-b-20">
                <div class="row align-items-center">
                    <div class="col-2">
                        <div class="item-icon bg-dark">
                            <i class="flaticon-menu-1 text-white"></i>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="item-content">
                            <div class="item-title" style="font-size:1.4em; font-weight:bold">GESTION DES NOTES</div>
                            <button class="mt-2 btn btn-primary btn-lg">Accéder</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!-- EXAMENS & DEVOIRS -->
    <div class="col-xl-3 col-sm-6 col-12">
        <a href="">
            <div class="dashboard-summery-one mg-b-20">
                <div class="row align-items-center">
                    <div class="col-2">
                        <div class="item-icon bg-dark">
                            <i class="flaticon-menu-1 text-white"></i>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="item-content">
                            <div class="item-title" style="font-size:1.4em; font-weight:bold">EXAMENS & DEVOIRS</div>
                            <button class="mt-2 btn btn-primary btn-lg">Accéder</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!-- ÉTUDIANTS -->
    <div class="col-xl-3 col-sm-6 col-12">
        <a href="">
            <div class="dashboard-summery-one mg-b-20">
                <div class="row align-items-center">
                    <div class="col-2">
                        <div class="item-icon bg-dark">
                            <i class="flaticon-menu-1 text-white"></i>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="item-content">
                            <div class="item-title" style="font-size:1.4em; font-weight:bold">ÉTUDIANTS</div>
                            <button class="mt-2 btn btn-primary btn-lg">Accéder</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!-- CLASSES -->
    <div class="col-xl-3 col-sm-6 col-12">
        <a href="">
            <div class="dashboard-summery-one mg-b-20">
                <div class="row align-items-center">
                    <div class="col-2">
                        <div class="item-icon bg-dark">
                            <i class="flaticon-menu-1 text-white"></i>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="item-content">
                            <div class="item-title" style="font-size:1.4em; font-weight:bold">CLASSES</div>
                            <button class="mt-2 btn btn-primary btn-lg">Accéder</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!-- MATIÈRES -->
    <div class="col-xl-3 col-sm-6 col-12">
        <a href="">
            <div class="dashboard-summery-one mg-b-20">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="item-icon bg-dark">
                            <i class="flaticon-menu-1 text-white"></i>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="item-content">
                            <div class="item-title" style="font-size:1.4em; font-weight:bold">MATIÈRES</div>
                            <button class="mt-2 btn btn-primary btn-lg">Accéder</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!-- FILIÈRES -->
    <div class="col-xl-3 col-sm-6 col-12">
        <a href="">
            <div class="dashboard-summery-one mg-b-20">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="item-icon bg-dark">
                            <i class="flaticon-menu-1 text-white"></i>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="item-content">
                            <div class="item-title" style="font-size:1.4em; font-weight:bold">FILIÈRES</div>
                            <button class="mt-2 btn btn-primary btn-lg">Accéder</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!-- GESTION SEMESTRE -->
    <div class="col-xl-3 col-sm-6 col-12">
        <a href="">
            <div class="dashboard-summery-one mg-b-20">
                <div class="row align-items-center">
                    <div class="col-2">
                        <div class="item-icon bg-dark">
                            <i class="flaticon-menu-1 text-white"></i>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="item-content">
                            <div class="item-title" style="font-size:1.4em; font-weight:bold">GESTION SEMESTRE</div>
                            <button class="mt-2 btn btn-primary btn-lg">Accéder</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>



</div>


<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>Historique des journaux (journal des actions)</h3>
            </div>
          
        </div>
     
        <div class="table-responsive">
            <table class="table display data-table text-nowrap">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Utilisateur</th>
                        <th>Modèle</th>
                        <th>Action</th>
                        <th>Donnée concernée</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in logs %}
                    <tr>
                        <td>{{ log.action_time|date:"d/m/Y H:i" }}</td>
                        <td>{{ log.user.username }}</td>
                        <td>{{ log.content_type }}</td>
                        <td>
                            {% if log.action_flag == 1 %}
                                Création
                            {% elif log.action_flag == 2 %}
                                Modification
                            {% elif log.action_flag == 3 %}
                                Suppression
                            {% endif %}
                        </td>
                        <td>{{ log.object_repr }}</td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock content %}



