
<div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color" style=" height:100vh !important; height:auto !important;">
    <div class="mobile-sidebar-header d-md-none" >
         <div class="header-logo">
             <a href="index.html"><img src="img/logo1.png" alt="logo"></a>
         </div>
    </div>
     <div class="sidebar-menu-content" style="height:100% !important">
         <ul class="nav nav-sidebar-menu sidebar-toggle-view">
             <li class="nav-item sidebar-nav-item">
                 <a href="#" class="nav-link"><i class="flaticon-dashboard"></i><span>Tableau de Bord</span></a>
                 <ul class="nav sub-group-menu">
                     
                    <li class="nav-item">
                         <a href="" class="nav-link"><i class="fas fa-angle-right"></i>FINANCES</a>
                     </li>
                     
                    <li class="nav-item">
                         <a href="" class="nav-link"><i class="fas fa-angle-right"></i>ATTESTATIONS</a>
                     </li>
                     
                    <li class="nav-item">
                         <a href="" class="nav-link"><i class="fas fa-angle-right"></i>INSCRIPTIONS</a>
                     </li>
                     
                    <li class="nav-item">
                         <a href="" class="nav-link"><i class="fas fa-angle-right"></i>ETUDIANTS</a>
                     </li>
                    
                    <li class="nav-item">
                         <a href="" class="nav-link"><i class="fas fa-angle-right"></i>MATIERES</a>
                     </li>
                    
                    <li class="nav-item">
                         <a href="" class="nav-link"><i class="fas fa-angle-right"></i>FILLIERES</a>
                     </li>
                    
                   
                    <li class="nav-item">
                         <a href="" class="nav-link"><i class="fas fa-angle-right"></i>CLASSES</a>
                     </li>
                    
                   
                 </ul>
             </li>


          

             <li class="nav-item sidebar-nav">
                 <a href="#" class="nav-link"><i class="flaticon-menu-1"></i><span>FINANCES</span></a>
             </li>



             <li class="nav-item sidebar-nav">
                 <a href="#" class="nav-link"><i class="flaticon-menu-1"></i><span>ATTESTATION</span></a>
             </li>



             <li class="nav-item sidebar-nav">
                 <a href="#" class="nav-link"><i class="flaticon-menu-1"></i><span>INSCRIPTIONS</span></a>
             </li>



             <li class="nav-item sidebar-nav">
                 <a href="#" class="nav-link"><i class="flaticon-calendar"></i><span>GESTION RESULTATS</span></a>
             </li>



             <li class="nav-item sidebar-nav">
                 <a href="#" class="nav-link"><i class="flaticon-checklist"></i><span>GESTIONS DES NOTES</span></a>
             </li>



             <li class="nav-item sidebar-nav">
                 <a href="#" class="nav-link"><i class="flaticon-maths-class-materials-cross-of-a-pencil-and-a-ruler"></i><span>EXAMENS A DEVOIRS</span></a>
             </li>



             <li class="nav-item sidebar-nav">
                 <a href="#" class="nav-link"><i class="flaticon-classmates"></i><span>ETUDIANTS</span></a>
             </li>



             <li class="nav-item sidebar-nav">
                 <a href="#" class="nav-link"><i class="flaticon-multiple-users-silhouette"></i><span>CLASSES</span></a>
             </li>



             <li class="nav-item sidebar-nav">
                 <a href="#" class="nav-link"><i class="flaticon-menu-1"></i><span>MATIERES</span></a>
             </li>



             <li class="nav-item sidebar-nav">
                 <a href="#" class="nav-link"><i class="flaticon-menu-1"></i><span>FILLIÈRES</span></a>
             </li>


             <li class="nav-item sidebar-nav">
                 <a href="#" class="nav-link"><i class="flaticon-menu-1"></i><span>GESTION SEMESTRE</span></a>
             </li>



         </ul>
     </div>
 </div>